img {
    margin:auto;
}

body {
    font-family: "Verdana", Geneva, sans-serif;
    color:white;
}

#contact {
    background-color:#AAAAAA;
    font-size:35px;
    padding: 9px 35px;
}

label {
    font-size:20px;
    color: black;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

textarea {
    font-size:15px;
    font-family: "Verdana", Geneva, sans-serif;
    width: 100%;
}

#button {
    background-color: #555;
    font-size:18px;
    font-family: "Verdana", Geneva, sans-serif;
    color:white;
}

#button:hover {
    background-color: #333;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}
